name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install tools
        run: make install-tools

      - name: Run generate
        run: |
          make generate
          git diff --exit-code

      - name: Run lint
        run: make lint

      - name: Run vulncheck
        run: make vulncheck

      - name: Run tests
        run: make test
